.figure{
    & img{
        width: 100%;
        max-width: 400px;
    }
}

.img-sup{
    // max-height: 7em;
    border: 2px solid red;
    & img{
        max-width: 100px;
        height: auto;
    }
    & .border-2{
        border: 2px solid $primary;
        border-radius: 5px;
    }
}