
<div class="row rowBloc2">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label for="">Titre ou nom de l'article</label>
            </div>
            <div class="col-md-6">
                {{ form.name }}
            </div>
        </div>
        
        <hr>

        <div class="row">
            <div class="col-md-6">
                <label for="">Décrivez votre article</label>
            </div>
            <div class="col-md-6">
                {{ form.description }}
            </div>
        </div>
    </div>
</div>

<div class="row rowBloc3">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label for="">Catégorie</label>
            </div>
            <div class="col-md-6">
                {{ form.category }}
            </div>
        </div>

        <hr>

    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label for="">Etat</label>
            </div>
            <div class="col-md-6">
                {{ form.status }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <label for="">Nombre d'article(s)</label>
            </div>
            <div class="col-md-6">
                {{ form.number }}
            </div>
        </div>
    </div>
</div>

<div class="row rowBloc5">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label for="">Prix xaf</label>
            </div>
            <div class="col-md-6">
                {{ form.price_init }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="">Ville</label>
            </div>
            <div class="col-md-6">
                {{ form.town }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="">Quartier</label>
            </div>
            <div class="col-md-6">
                {{ form.district }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="">Livraison</label>
            </div>
            <div class="col-6">
                {{ form.delivery }}
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <label for="">Photo principale de l'article</label>
            </div>
            <div class="col-md-6">
                {{ form.image_min }}
            </div>
        </div>
        
        <hr>
        {% if request.path == "/store/poster-un-article/" %}
            <div class="row rowBloc1">
                <div class="col-12">
                    <label for="">Vous pouvez ajouter des photos supplémentaires ici</label> <br>
                    <div class="bloc-flex">
                        <div class="row upload_pics">

                        </div>
                        <div class="row btn-list">
                            <div class="col-12 text-center">
                                <button class="add-pics-btn">Choisir une photo</button><br>
                                <span class="alert"></span>
                                <input type="number" id="count_click" name="count_click" hidden="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>
<div class="row rowBloc4 text-right">
    <div><button type="submit">Sauvegarder</button></div>
    <div><a href="{% url 'dashboard:my_articles' %}">Annuler</a></div>
</div>

