{% extends 'base.html' %}
{% load static humanize %}
{% block content %}
<div class="body-page-content container-fluid p-3 bg-secondary">
  <div class="row bg-secondary">
    <div class="bg-secondary col-12 col-md-8 p-2 mb-2">
      <figure class="figure w-100 text-center bg-light h-100 rounded-2">
        <figcaption class="figure-caption text-center font-md">{{ article.name }}</figcaption>
        <img src="{{ article.image_min.url }}" id="figure-img-principal" class="figure-img img-fluid rounded" alt="{{ article }}">
        <div class="img-sup d-flex justify-content-center rounded-1 overflow-hidden">
          {% for picture in article.pictures.all %}
            {% if picture.photo %}
              <img src="{{ picture.photo.url }}" class="img-sup-item pointer {% if forloop.first %}border-2{% endif %}" alt="{{ article }}">
            {% endif %}
          {% empty %}
            <p>Aucune image suplémentaire</p>
          {% endfor %}
        </div>
      </figure>
    </div>
    
    <div class="col-12 bg-secondary p-2 col-md-4 mb-2">
      <aside class="aside-details">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
              <span class="d-block text-secondary">Prix</span><span class="d-block font-weight-bold">{{ article.price_ttc|intcomma }} XAF</span>
            </li>
            <li class="list-group-item d-flex justify-content-between text-secondary">
                <span class="d-block">V</span><span class="d-block">{{ article.town }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between text-secondary">
                <span class="d-block">Quartier</span> <span class="d-block">{{ article.district }}</span>
            </li>
            <li class="list-group-item text-secondary">
                <h5 class="d-block">Description</h5>  
                <p class="d-block">{{ article.description }}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between text-secondary">
                <span class="d-block">Etat</span><span class="d-block">{{ article.status }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between text-secondary">
              <span class="d-block">Posté</span><span class="d-block">{{ article.date_add|naturaltime }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between text-secondary">
                <span class="d-block">Consulté</span><span class="d-block">{{ article.seen }} fois</span>
            </li>
            <li class="list-group-item d-flex justify-content-between text-secondary">
              <span class="d-block">Livraison</span><span class="d-block">{{ article.delivery }}</span>
            </li>
            {% if request.user != article.user %}
            <li class="list-group-item d-flex flex-column">
              <button type="button" class="btn btn-outline-secondary text-primary">Envoyer un message</button>
              {# if article number is equal to 0, we can not pass an order #}
              {% if article.number > 0 %}
                <a href="{% url 'dashboard:orders' %}?article_id={{ article.id }}" type="button" class="btn btn-primary mt-2 mb-2 dialog_confirm_before">
                  Passer la commande <span class="d-none">Envoie d'une commande pour l'article {{ article }}</span>
                </a>
              {% else %}
                <button class="btn btn-outline-dark" disabled>Cet article est déjà en cours de commande</button>
              {% endif %}
              <a href="{% url 'store:favourite' %}?article_id={{ article.id }}" type="button" class="btn btn-outline-secondary text-primary">Ajouter aux favoris</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </aside>    
    </div>
  </div>

  <div class="row p-2">
    <h5 class="alert alert-primary text-center">Articles similaires</h5>
    {% include 'store/list.html' with empty_article_text_alert="Aucun article similaire trouvé" %}
  </div>

</div>
{% endblock %}