{% extends 'base.html' %}
{% block content %}
{% load cache %}
<div class="body-page-content">
    <div class="jumbotron-caroussel bg-secondary">
      <div class="jumbotron jumbotron-fluid">
        <div class="container shadow-lg">
          <h1 class="display-4 ">Rendez-vous la vie facile !</h1>
          <p class="lead">
            SC vous facilite la vie en achetant vos articles en ligne <br>
            et en toute sécurité !
          </p>
        </div>
        <img src="../static/images/pictures/pic1.png" hidden alt="">
        <span class="background-color d-none">#1a4422</span>
      </div>

      <div class="jumbotron jumbotron-fluid">
        <div class="container shadow-lg">
          <h1 class="display-4 ">MTN mobile money <br> et Airtel money</h1>
          <p class="lead">
            Achetez vos articles en utilisant <br>
            votre compte électronique mobile
          </p>
        </div>
        <img src="../static/images/pictures/b1.jpg" hidden alt="">
      </div>

      <div class="jumbotron jumbotron-fluid">
        <div class="container shadow-lg">
          <h1 class="display-4 ">Fluid  3</h1>
          <p class="lead">This is a modified jumbotron th</p>
        </div>
        <img src="../static/images/pictures/pic4.jpg"   hidden alt="">
      </div>

    </div>

    <div class="d-md-none d-flex flex-column align-items-center pt-4 bloc_btn">
      <a href="{% url 'store:create_article' %}" class="btn-style w-100 mb-3" style="text-decoration: none;"> Poster un article à vendre</a></a>
      <p><a href="{% url 'work_step' %}" class="text-primary">Comment ça marche ?</a></p>
    </div>
    <!--============including articles list html ====================-->
    {% include 'store/list.html' %}
</div>

{% endblock %}
