{% load static store_extras %}
{% load humanize %}
    <div class="container-fluid">
        <div class="row list-article infinite-container">
            {% for article in articles %}
                <div class="col-lg-3 col-md-3 col-sm-4 col-6 bloc-card card{{ article.id }} infinite-item" style="padding: 5px;">
                    <div class="card">
                        <div class="info-user" >
                            <img 
                            {% if  article.user.profil.avatar.url != "" %} 
                                src="{{ article.user.profil.avatar.url }}" 
                            {% else %}
                                src="{% static 'images/icons/stand.png' %}"
                            {% endif %}
                                alt="" class="img_user" alt="avatar"> 
                            <a href="" id="user-name">{{ article.user.username }} </a>
                        </div>
                        <a href="{% url 'store:detail' article_id=article.id  %}">
                            <div class="card-img-top"   
                            {% if article.image_min %}
                                {% if article.img_background == None %}
                                    style="background: lightgray url({{ article.image_min.url }}) no-repeat center;
                                        background-size: contain;"
                                {% else %}
                                    style="background: {{ article.img_background }} url({{ article.image_min.url }}) no-repeat center;
                                    background-size: contain;"                              
                                {% endif %}
                            {% endif %}> </div> 
                        </a>
                        
                        <div class="details">
                            <h5>{{ article.name }}</h5>
                            <p> 
                                <span class="prix">{{ article.price_ttc|intword }}</span> <span class="xaf">XAF</span> <br>
                                <img src="{% static 'store/images/icons/geo.png' %}" alt=""> {{ article.town }} <br>
                                Qtier: {{ article.district }} <br>
                                
                                <div class="bloc-links">
                                    <div><a class="" href="{% url 'store:detail' article_id=article.id %}"><button>Détails</button></a></div>
                                        {% if article not in favourite_articles %}
                                            <div class="save-favourite" id="{{ article.id }}" title="Ajoutez aux favoris">
                                                <img src="{% static 'images/icons/heart.png' %}" alt="">
                                            </div>
                                        {% elif favourite_page %}
                                            <div class="delete-favourite" id="{{ article.id }}" title="Retirer des favoris">
                                                Retirer
                                            </div>
                                        {% endif %}
                                
                                    <div class="time_add">
                                        Il ya {{ article.date_add|calcul_date }}
                                    </div>
                                    <div><img src="{% static 'user/images/show.png' %}" width="5" height="15"><span class="views"> {{ article.seen }}</span> </div>
                                </div>
                            </p> 
                        </div>
                    </div>
                </div>

            {% empty %}
                <div class=" empty-zone">Aucun Article disponble n'a été ajouté</div>
            {% endfor %}
        </div>
    </div>
    <div class="container" id="pagination">
        <div class="row">
            {% if articles.has_previous %}
                <div class="col-6 text-center"> <a href="?page={{ articles.previous_page_number }}">prev</a> </div>
            {% endif %}

            {% if articles.has_next %}
                <div class="col-6 text-center"><a href="?page={{ articles.next_page_number }}">next</a></div>
            {% endif %}
        </div>
    </div>