{% extends 'base.html' %}
{% block content %}
<div class="body-page-content container-fluid">
    <div class="row">
        <h1 class="col-12 text-center bg-secondary font-weight-bold font-sm-md" >
            Mes articles ajoutés
        </h1>
    </div>
    <div class="p-0 row">
        {% include 'store/list.html' with articles=articles_available_of_seller empty_article_text_alert="Aucun article disponible" %}
    </div>
    
    {% if articles_unavailable_of_seller|length >= 1 %}
        <div class="row">
            <h2 class="bg-secondary text-center text-light w-100">
                Article{{ articles_unavailable_of_seller|pluralize }} non disponible{{ articles_unavailable_of_seller|pluralize }}
            </h2>
        </div>
        <div class="container">
            {% comment %}  
                no need to sepcify ampty_article_text_alert, coz this part is showing 
                only if articles_unavailable_of_seller is more than 0 
            {% endcomment %}
            {% include 'store/list.html' with articles=articles_unavailable_of_seller %}
        </div>
    {% endif %}    
</div>
{% endblock %}