//colors
$primary: #0b4a97;

//breackpoints
$breack-points: (mobile: 576px, screen-md: 768px, screen-lg: 992px, screen-xl: 1200px, screen-xxl: 1300px);

// font
$font-size-extra-sm: 0.6em;
$font-size-sm: 0.9em;
$font-size-md: 1em;

//size
$form-search-height-md: 2.7em;
$form-search-height-sm: 2em;
$jumbotron-height-md: 20em;
$jumbotron-height-sm: 12em;
