{% extends 'base.html' %}
{% block content %}
<div class="body-page-content container">
    <div class="row">
        <div class="col-12 col-md-5 text-sm-left params-links">
            <h1 class="">Mes paramètres</h1>
            <ul class="list-group">
                <li class="list-group-item p-0 border-0">
                    <a href="{% url 'user:profil' %}" class="param-link d-block w-100 h-100 p-2 text-decoration-none text-secondary">Mon profile</a>
                </li>
                <li class="list-group-item p-0 border-0">
                    <a href="" class="param-link d-block w-100 h-100 p-2 text-decoration-none text-secondary">Sécurité</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-7 update-profil">
            <form action="{% url 'user:profil' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br class="separator"/>
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-sm-4 text-sm-left">
                        <label for="">Photo de profil</label>
                    </div>
                    <div class="col-12 col-sm-4 text-center ">
                        {% if request.user.profil.avatar.url != "" %}
                            <img class='img-square img_chosen rounded-circle' src="{{ request.user.profil.avatar.url }}">
                        {% else %}
                            <img class='img-square img_chosen rounded-circle' src="../../../static/images/icons/stand.png">
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-4 text-sm-right">
                        <button class="btn-change-img btn btn-primary">Changer la photo</button>
                        <div hidden>
                            {{ profil_form.avatar }}
                        </div>
                    </div>
                </div>
                
                <br class="separator">
                
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Nom d'utiisateur</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        {{ user_form.username }}
                    </div>
                </div>
                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Nom</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        {{ user_form.last_name }}
                    </div>
                </div>
                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Prénom</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        {{ user_form.first_name }}
                    </div>
                </div>

                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Email</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        {{ user_form.email }}
                    </div>
                </div>
                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Contact MTN</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right mtn-number">
                        {{ profil_form.contact_mtn }}
                        <span class="text-danger d-none">Ceci n'est pas un numéro MTN valide</span>
                    </div>
                </div>
                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Contact Airtel</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right airtel-number">
                        {{ profil_form.contact_airtel }}
                        <span class="text-danger d-none">Ceci n'est pas un numéro Airtel valide</span>
                    </div>
                </div>
                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Whatsap</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right whatsap-number">
                        {{ profil_form.whatsap_number }}
                        <span class="text-danger d-none">Ceci n'est pas un numéro valide</span>
                    </div>
                </div>

                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Numéro Airtel money</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right airtel-number">
                        {{ profil_form.airtel_money }}
                        <span class="text-danger d-none">Ceci n'est pas un numéro Airtel valide</span>
                    </div>
                </div>

                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Numéro MTN money</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right mtn-number">
                        {{ profil_form.mtn_money }}
                        <span class="text-danger d-none">Ceci n'est pas un numéro MTN valide</span>
                    </div>
                </div>

                <br class="separator">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="">Sexe</label>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        {{ profil_form.gender }}
                    </div>
                </div>

                <br class="separator">
                <div class="d-flex p-4 justify-content-around">
                    <a href="{% url 'store:home' %}" class="btn btn-danger d-block">Annuler </a>
                    <button type="submit" class="btn btn-primary d-block" id="save-update-profil-btn">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}