{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="body-page-content pt-4 container-fluid">
        <div class="d-flex d-md-none justify-content-between">
            <img src="{% static 'node_modules/bootstrap-icons/icons/menu-up.svg' %}" 
            alt="Bootstrap" width="25" height="25" class="pointer down-menu">
            <h1 class="font-md text-center">TABLEAU DE BORD</h1>
        </div>
        <div class="row">
            <div class="col-md-4 d-none d-md-block dash-menu">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-primary text-light">
                        Achat
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'dashboard:orders' %}envoyees" class="dash-link list-group-item d-flex justify-content-between align-items-center">
                        Commande{{ orders_sended_count|pluralize }} envoyée{{ orders_sended_count|pluralize }}
                        {% if orders_sended_count >= 1 %} 
                            <span class="badge bg-primary ">{{ orders_sended_count }}</span>
                        {% endif %}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'dashboard:invoices' %}" class="dash-link list-group-item d-flex justify-content-between align-items-center">
                            Facture{{ invoices|pluralize }} à payer
                            {% if invoices.count >= 1 %} 
                                <span class="badge bg-primary ">{{ invoices.count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'dashboard:waiting-buy' %}" class="dash-link list-group-item d-flex justify-content-between align-items-center w-100">
                            Achat{{ orders|pluralize }} à finaliser
                            {% if waiting_transactions_count >= 1 %} 
                                <span class="badge bg-primary ">{{ waiting_transactions_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'dashboard:articles-bought' %}" class="dash-link list-group-item d-flex justify-content-between align-items-center w-100">
                            Achat{{ final_transactions_count|pluralize }} réalisé{{ final_transactions_count|pluralize }}
                            {% if final_transactions_count >= 1 %} 
                                <span class="badge bg-primary ">{{ final_transactions_count }}</span>
                            {% endif %}
                        </a>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center bg-primary text-light">
                        Vente
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'dashboard:orders' %}reçues" class="dash-link list-group-item d-flex justify-content-between align-items-center">
                            Commande{{ orders|pluralize }} reçue{{ orders|pluralize }}
                            {% if orders_received_count >= 1 %}
                                <span class="badge bg-primary badge-pill">{{ orders_received_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'dashboard:waiting-sell' %}" class="dash-link list-group-item d-flex justify-content-between align-items-center">
                            Vente{{ articles_selled_count|pluralize }} en attente{{ articles_selled_count|pluralize }}
                            {% if articles_selled_count >= 1 %}
                                <span class="badge bg-primary badge-pill">{{ articles_selled_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'dashboard:articles-selled' %}" class="dash-link list-group-item d-flex justify-content-between align-items-center">
                            Vente{{ articles_selled_count|pluralize }} réalisée{{ articles_selled_count|pluralize }}
                            {% if articles_selled_count >= 1 %}
                                <span class="badge bg-primary badge-pill">{{ articles_selled_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div> 
            <div class="col-md-8">
                {% block pageContent %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
