{% extends 'dashboard/dashboard.html' %}
{% block pageContent %}
  <div class="row">
      <div class="col-12">
        <h3 class="mt-4 border-bottom font-md">
            {% if request.path == "/gestion/commandes/envoyees" or request.path == "/gestion/commandes/" %}
                COMMANDES ENVOYEES
            {% elif request.path == "/gestion/commandes/reçues" %}
                COMMANDES REÇUES
            {%  endif %}
        </h3>
      </div>

      <div class="col-12">
        <div class="row justify-content-start">
          {% for order in orders %}
            <div class="col-12 col-md-6 mt-4">
              <table class="table font-sm">
                <thead class="bg-dark text-light">
                  <tr>
                    <th scope="col" colspan="2"># Commande n° {{ order.id }}</th>
                  </tr>
                  <tr>
                    <th colspan="2">date : {{ order.date_create }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Nom d'article</th>
                    <td>{{ order.article }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Description</th>
                    <td>{{ order.article.description }}</td>
                  </tr>
                  {% if request.path == "/gestion/commandes/reçues" %}
                  {# only seller must to see the initial price of his article #}
                    <tr>
                      <th scope="row">Prix initial</th>
                      <td>{{ order.article.price_init }}</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <th scope="row">Prix TTC</th>
                    <td>{{ order.article.price_ttc }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Livraison</th>
                    <td>
                      {% if order.article.delivery %} 
                        Possible
                      {% else %}
                        Pas de livraison
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Etat de l'article</th>
                    <td>{{ order.article.status }}</td>
                  </tr>
                </tbody>
              </table>
              {% if request.path == "/gestion/commandes/envoyees" or request.path == "/gestion/commandes/" %}
                <a href="{% url 'dashboard:orders' %}?annuler-la-commande={{ order.article }}?&amp;order_id={{order.id}}" class="btn btn-danger w-100">Annuler commande </a>
              {% elif request.path == "/gestion/commandes/reçues" %}
                <div class="d-flex justify-content-between">
                  <a href="{% url 'dashboard:orders' %}?decliner-la-commande={{ order.article }}?&amp;order_id={{order.id}}" class="btn btn-danger d-block w-50 dialog_confirm_before">
                    Décliner la commande <span class="d-none">En déclinant la commande, l'article "{{ order.article }}" sera automatiquement desactivé</span>
                  </a>
                  <a href="{% url 'dashboard:orders' %}?valider-la-commande={{ order.article }}?&amp;order_id={{order.id}}" class="btn btn-success d-block w-50 dialog_confirm_before">
                    Valider la commande <span class="d-none">En validant la commande, vous reconnaissez avoir en votre disposition l'article "{{ order.article }}"</span> </a>
                </div>
              {% endif %}
            </div>
          {% empty %}
            <div class="row p-5">
              <p class="m-auto p-5 text-center font-weight-bold bg-info">
              {% if request.path ==  "/gestion/commandes/envoyees" or request.path == "/gestion/commandes/" %}
                Votre liste de commandes envoyées est vide
              {% elif request.path == "/gestion/commandes/reçues" %}
                Votre liste de commandes reçues est vide
              {% endif %}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
  </div>
{% endblock %}