{% extends 'dashboard/dashboard.html' %}
{% block pageContent %}
    {% if request.path == "/gestion/achats-en-attentes/" %}
        <div class="row">
            <h1 class="font-md text-uppercase border-bottom">Achats (Transactions) en attente de finalisation</h1>
            <p class="text-danger">
                Attention: Ne finalisez une transaction (achat) que si vous avez l'article en votre possession.
                Pour ce faire, consulter le profil du vendeur en cliquant sur <span class="text-primary">Profile vendeur</span>
                et contacter ce dernier. <a href="">en savoir plus !</a>
            </p>
        </div>
    {% elif request.path == "/gestion/ventes-en-attentes/" %}
        <div class="row">
            <h1 class="font-md text-uppercase border-bottom">Ventes (Transactions) en attente de finalisation par le client</h1>
            <p class="text-danger">
                Vous pouvez contacter votre client (cliquer sur <span class="text-primary">profile client</span> ) et livrer l'article ou pour une prise de rendez-vous.
                Votre client devra finaliser l'achat après réception de l'article pour 
                reçevoir votre argent sur votre compte électronique mobile <a href="">en savoir plus</a>
            </p>
        </div>
    {% elif request.path == "/gestion/achats-effectués/" %}
        <div class="row">
            <h1 class="font-md text-uppercase border-bottom">Achats réalisés</h1>
        </div>
    {% elif request.path == "/gestion/ventes-réalisées/" %}
        <div class="row">
            <h1 class="font-md text-uppercase border-bottom">Ventes réalisées</h1>
        </div>
    {% endif %}
    <div class="row">
        {% for transaction in transactions %}
        <div class="col-12 col-md-6 mt-4">
            <table class="table {% if request.path ==  '/gestion/achats-en-attentes/' %}
            table-dark {% else %} table-success {% endif %}">
                <tr>
                    <th scope="col">#{{ transaction.id }}</th>
                    <th scope="col">{{ transaction.date_create }}</th>
                </tr>
                <tr>
                    <th scope="row">Article</th>
                    <td>{{ transaction.invoice.article_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Facture</th>
                    <td><a href="">Voir facture</a></td>
                </tr>
                {% if request.path == "/gestion/ventes-réalisées/"  %}
                    <tr>
                        <th scope="row">Prix initial XAF</th>
                        <td>{{ transaction.invoice.price_init }} XAF</td>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="row">Prix TTC XAF</th>
                        <td>{{ transaction.invoice.price_ttc }} XAF</td>
                    </tr>
                {% endif %}

                {% if request.path == "/gestion/achats-en-attentes/" %}
                    <tr>
                        <th scope="row">Vendeur</th>
                        <td><a href="">Profile vendeur</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="row">Client</th>
                        <td><a href="">Profile client</a></td>
                    </tr>
                {% endif %}

                {% if request.path == "/gestion/achats-en-attentes/" %}
                    <tr>
                        <td><a href="{% url 'dashboard:cancel-transaction' %}?transaction_id={{ transaction.id }}" class="btn btn-danger dialog_confirm_before">
                            Annuler Achat
                            <span class="d-none">Vous annulez l'achat de l'article {{ transaction.invoice.article_name }}</span>
                            </a></td>
                        <td><a href="" class="btn btn-primary dialog_confirm_before">
                            Finaliser Achat 
                            <span class="d-none">
                                En finalisant l'achat vous reconnaisez avoir en votre possession l'article concerné, 
                                l'argent sera définitivement transféré sur le compte électronique mobile du vendeur! <br>
                                A ce stade, aucun remboursement ne sera possible sur la plateforme spectrecorp
                            </span>
                        </a></td>
                    </tr>
                {% endif %}
              </table>
        </div>
        {% empty %}
        <div class="row p-5">
            <p class="m-auto p-5 text-center font-weight-bold bg-info">
                {% if request.path == "/gestion/achats-en-attentes/" %}
                    Vous n'avez aucun achat à finaliser
                {% elif request.path == "/gestion/ventes-en-attentes/" %}
                   Vous n'avez aucune vente en attente de finalisation
                {% elif request.path == "/gestion/achats-effectués/" %}
                   Vous n'avez réalisé aucun achat jusqu'à ce jour
                {% elif request.path == "/gestion/ventes-réalisées/" %}
                   Vous n'avez réalisé aucune vente jusqu'à ce jour
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}