{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style_sass.css' %}">
</head>
<body>
  <div class="container-fluid p-0">
    <!-- ============================BEGIN_HEADER=========================================== -->
    <header class="p-2 w-100 bg-light">
      <div class="p-2 row row-cols-3">
        <div class="col-2 col-md-1 p-0 bg">
          <div class="logo">
            <a href="{% url 'store:home' %}"><img class="rounded-circle" src="{% static 'images/icons/logo_min.png' %}" alt="logo"></a>
          </div>
        </div>
        <div class="col-8 col-md-4 order-md-3 d-flex justify-content-end">
          {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-end account-info">
              <div class="account-info__access">
                <a href="">
                  <img class="" src="{% static 'images/icons/chat.png' %}" alt="chat">
                  <span class="account-info__access__badge">12</span>
                </a>
              </div>
            
              <div class="account-info__access">
                <img class="" src="{% static 'images/icons/notif.png' %}" alt="notif">
                <span class="account-info__access__badge">12</span>
              </div>
            
              <div class="account-info__access avatar">
                <a href="">
                  {% if request.user.profil.avatar.path != '' %}
                    <img src="{{ request.user.profil.avatar.path }}" alt="avatar" class="img-avatar">
                  {% else %}
                    <img src="{% static 'images/icons/stand.png' %}" alt="avatar" class="img-avatar">
                  {% endif %}
                </a>
              </div>
            </div>

            <a href="{% url 'store:create_article' %}" class="btn text-light text-truncate btn-style d-none d-md-block text-truncate w-100 bg-primary text-decoration-none">
                Poster article</a>
          {% else %}
            <button type="button" class="text-secondary btn-style d-none d-md-block text-truncate w-100 bg-light">
              <a href="{% url 'user:auto_login' %}">s'inscrire | se connecter</a>
            </button>
          {% endif %}

          <div class="p-2 icon-question d-flex justify-content-center align-items-center">
            <a href="{% url 'work_step' %}">
              <img class="d-none d-lg-block" src="{% static 'images/icons/patch-question.png' %}" alt="comment ça marche">
            </a>
          </div>
        </div>
        
        <div class="col-2 p-0 d-md-none">
          <div class="menu-icon d-flex justify-content-end">
            <img class="h-100 pointer" src="{% static 'images/icons/menu-up.png' %}" alt="menu">
          </div>
        </div>      
  
        <hr class="w-100 d-md-none mt-0 mt-sm-1 mb-2"/>
  
        <div class="col-12 col-md-7 order-md-2 p-0">
          <form class="d-flex bg-primary form_search" action="{% url 'store:search' %}" method="get">
            <div class="form_search__select">
              <select name="category" id="" class="h-100 bg-primary border-0 text-light">
                <option value="all">Trier</option>
                {% for category in categories %}
                  <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="d-flex justify-content-start form_search__input w-100">
              <div class="">
                <input type="submit" value="" class="h-100 rounded-0 border-0 form_search__input_submit">
              </div>
              <div class="w-100">
                <input type="text" name="query" class="h-100 w-100 rounded-0 border-0 text-secondary form_search__input_text">
              </div>
            </div>
          </form>
        </div>  
      </div>

      <hr class="m-1 mt-1 d-none d-md-block"/>

      <nav class="d-none d-md-inline">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:home' %}">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:my_articles' %}">Mes articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dashboard-link" href="{% url 'dashboard:orders' %}envoyees">Tableau de bord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:favourite' %}">Favoris</a>
          </li>
          {% endif %}
        </ul>
      </nav>

      <hr class="m-1 mt-1 d-none d-md-block"/>
      {% if messages %}
      <div class="alerts top-alerts text-center w-100">
        {% for message in messages %}
        <div {% if message.tags %}
              class="alert text-center alert-{{ message.tags }} font-sm-md text-primary"
              {% else %}
              class="alert alert-info font-sm-md"
              {% endif %}> 
          {{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
    </header>
    <!--=============================END_HEADER-->

    <!--=============================BEGIN CONTENT PAGE BODY=================================-->
    <div id="central-page" class="">
      {% block content %} {% endblock %}
      <!--=============================END CONTENT PAGE BODY=================================-->
      {% include 'confirmation_dialog.html' %}
    </div>

    <div id="mobile-menu" class="row bg-light h-100 m-0 p-0 w-100 d-none">
      {% include 'mobile-nav.html' %}
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
