{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="contact-page" class="row bg-dark p-2 pt-5 body-page-content container-fluid w-100">
    <div class="col-12 col-md-6 text-light text-right">
        <h1 class="text-right text-info">Contactez-nous</h1>
        <p class="text-right">Notre équipe est là ! prête à vous répondre</p>
                
        <p class="mt-4">
            <img src="{% static 'node_modules/bootstrap-icons/icons/mailbox.svg' %}" width="55" height="55"  alt="mail-icon" class="mt-2"> <br>
            Envoyez-nous un mail <br>
            <a href="mailto:spectrecorp@gmail.com" class="text-light">spectrecorp@gmail.com</a>
        </p>

        <p class="mt-4">
            <img src="{% static 'node_modules/bootstrap-icons/icons/telephone.svg' %}" width="55" height="55" alt="Contactez-nous"> <br>
            <a href="tel:06-586-95-05" class="text-light text-bolder">Appelez-nous au 06-586-95-05</a>
        </p>
    </div>
    <div class="col-12 col-md-6">
        <form>
            <div class="form-group ">
              <input type="text" class="form-control bg-dark rounded-0" placeholder="Entrez votre nom" required>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control bg-dark rounded-0" placeholder="Entrez votre email" required>
            </div>
            <div class="form-group mt-3">
                <textarea name="message" id="" rows="5"  class="form-control bg-dark rounded-0 text-light" required>Message
                
                </textarea>
            </div>
            <div class="form-group mt-3">
                <input type="submit" class="form-control text-light bg-dark rounded-0" value="Soumettre">
            </div>
            <div class="form-group mt-3 p-3 border bg-info">
            </div>
          </form>
    </div>
</div>
{% endblock %}
