{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container work-page b_h">
        <div class="row" >
            <div class="col-12 text-center title">
                <h1>Comment ça marche ?</h1>
            </div>
        </div>

        <div class="row">
            <div class="left-menu col-lg-3">
                <nav>
                    <ul class="d-flex flex-column">
                        <li class="btn-inscription">Inscription</li>
                        <li class="btn-buy">Achat</li>
                        <li class="btn-sell">Vente</li>
                        <li class="btn-help">Préocupation</li>
                    </ul>
                </nav>
            </div>
    
            <div class="page-content col-lg-9">
                <hr> 
                <div id="inscription">
                    <div class="row">
                        <div class="col-12 title-bloc">
                            <h2>Pour votre inscription suivez les étapes ci-après : </h2>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 bloc-img img1">
                                </div>
                                <div class="col-sm-4 d-flex align-items-center">
                                    <p>
                                        Cliquez sur l'onglet encadré 
                                    </p>
                                </div>
                            </div>
                    
                            <hr />
                            <div class="rowimg4">
                                <div class="row">
                                    <div class="col-sm-8 bloc-img img4">
                                    </div>
                                    <div class="col-sm-4 d-flex align-items-center">
                                        <p>
                                            Sur le menu qui s'affiche, cliquer sur "s'inscrire"
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <hr/>
                            <p>Vous devrez voir cette page</p>
                            
                            <di class="row">
                                <div class="col-sm-8 bloc-img img2">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        Vous avez trois choix pour vous inscrire
                                    </p>
                                    <ul>
                                        <li>Gmail</li>
                                        <li>Facebook</li>
                                        <li>Manuel</li>
                                    </ul>

                                    <p>
                                        Pour le choix portant sur facebook ou google, <br> 
                                        vous aurez juste à renseigner vous informations respectives aux <br>
                                        deux comptes
                                    </p>
                                </div>
                            </di>
                            <hr />
                            
                            <div class="row">
                                <p class="col-12">Page d'inscription manuelle</p>
                                <div class="col-sm-8 bloc-img img3">
                                </div>
                                <div class="col-sm-4 d-flex align-items-center">
                                    <p>
                                        Remplissez tous les champs du formulaire <br>
                                        et soumettez vos informations en cliquant sur le 
                                        bouton "s'inscrire"!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ZONE ACHAT -->
                <div id="buying">

                </div>

                <!-- ZONE BUYING -->
                <div id="buying">
                    <div class="row">
                        <div class="col-12">
                            <h2>Poster un article à vendre</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8 bloc-img img1">

                        </div>

                        <div class="col-sm-4 d-flex align-items-center">
                            Cliquez sur le bouton encadré en rouge
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-sm-8 bloc-img img2">

                        </div>

                        <div class="col-sm-4 d-flex align-items-center"">
                            Remplissez le formulaire en fonction des critères de votre article !
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p>
                                <strong>NB :</strong><br>
                                Le prix de l'article déclaré sera le montant que vous receptionez sur votre 
                                compte Mobile Money. <br>
                                La plate-forme <strong>SC</strong> ajoute un pourcentage sur le prix initial,
                                soit 10% pour les articles dont le prix est supérieur à 15 000 XAF et 15%
                                pour les articles dont le prix est inférieur  ou égal à 15 000 XAF.
                            </p>

                            <p>
                                Pour en savoir plus <a href="{% url 'contact' %}">contactez notre équipe</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}