{% load static %}
<div class="d-flex flex-column">
    <div class="d-flex justify-content-end p-2"> <img src="{% static 'node_modules/bootstrap-icons/icons/x-octagon-fill.svg' %}" 
        alt="Bootstrap" width="32" height="32" class="pointer cancel-menu-btn"></div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'user:logout' %}" class="btn btn-outline-dark mb-2">Se déconnecter</a>
    {% else %}
        <a href="{% url 'user:auto_login' %}" class="btn btn-outline-dark mb-2">se connecter | s'inscrire</a>
    {% endif %}
    <a href="{% url 'store:create_article' %}" class="btn btn-primary mb-2">Poster un article </a>
    <a href="{% url 'work_step' %}" class="text-center text-decoration-none">Comment ça marche ?</a>
</div>
<div class="">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="{% url 'store:home' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">Acceuil</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{% url 'store:my_articles' %}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Mes articles</a>
        <a class="nav-link dashboard-link" id="v-pills-settings-tab" data-toggle="pill" href="{% url 'dashboard:orders' %}envoyees" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tableau de bord</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{% url 'store:favourite' %}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Favoris</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{% url 'communication:notifications' %}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Notifications
            {% if notif_count > 0 %}<span class="badge bg-primary">{{ notif_count }}</span></a>{% endif %}
        </a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="{% url 'about' %}" role="tab" aria-controls="v-pills-profile" aria-selected="false">A propos de nous</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="{% url 'contact' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Contact</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="{% url 'user:profil' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Paramètres</a>
    </div>
</div>