{% extends 'base.html' %}
{% block content %}
{% load static humanize %}
<div class="body-page-content container new-msg-page ">
    <h3 class="text-center">Conversation sur l'article "{{ article }}</h3>
    <div class="overflow-auto bloc-messages border p-2 m-auto ">
        <ul class="messages list-group" id="messages">
            {% for message in message_list %}
                {% if message.user == request.user %}
                    <div class="mt-3">
                        <small class="tex-muted p-4 pt-0 pb-0 font-sm">Moi</small>
                        <li class="text-light text-wrap bg-primary p-4 pt-2 pb-2 message send rounded-pill">
                            {{ message.content }}
                            <small class="tex-muted font-esm text-right d-block">{{ message.date_create|naturaltime }}</small>
                        </li>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-end mt-3">
                        <li class="text-light text-wrap bg-secondary p-4 pt-2 pb-2 message receive rounded-pill">
                            {{ message.content }}
                            <small class="tex-muted font-esm d-block text-right">{{ message.date_create|naturaltime }}</small>
                        </li>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col-12 bloc-msg-zone">
            <form action="{% url 'communication:chat_message' article_id=article.id %}" method="POST">
                {% csrf_token %}
                <div class="msg-zone d-flex m-auto w-100 justify-content-center p-4 pt-3 pb-3 bg-secondary">
                    <div class="form-group w-75 p-0">
                        <input type="text" class="form-control w-100 rounded-0" name="message" placeholder="Votre message">
                    </div>
                    <div class=" d-flex align-items-center p-0">
                        <button disabled="disabled" class="btn1 border-0"></button>
                        <button class="btn2 border-0"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}