{% extends 'base.html' %}
{% block content %}
{% load humanize %}
    <div class="body-page-content container">
        <div class="row">
            <h1 class="offset-md-1 col-md-10"> NOTIFICATIONS</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="list-group offset-md-1 col-md-10 mb-4">
                    {% for notif in notifs %}
                        <a href="{% url 'communication:notifications' %}?notif_id={{ notif.id }}" class="list-group-item list-group-item-action 
                        {% if not notif.delivred %} active {% else %} border border-dark {% endif %} mt-1">
                        <div class="d-flex w-100 justify-content-end">
                            <small class="font-esm">{{ notif.date_create|naturaltime }}</small>
                        </div>
                        <p class="mb-1">{{ notif.content }}</p>                     
                        </a>              
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}